* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.563rem;
  font-family: "Work Sans", sans-serif;
  line-height: 1.75;
  color: #0a0a0a;
}
