:root {
  --black-color: #0a0a0a;
  --primary-color: #e86e2a;
  --primary-white-color: #fdf1ea;
  --primary-hover-color: #d16326;
}

/* iPads (landscape) ----------- */
@media only screen and (max-width: 1224px) {
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
  .navbar.active-sidebar {
    background: var(--secondary-color);
    transition: 0.2s;
  }

  .first-section.active-sidebar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
  }

  .brand .logo.active-sidebar {
    color: var(--grey-color);
    transition: 0.2s;
  }

  .brand .logo .primary-text.active-sidebar {
    color: var(--primary-white-color);
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-top: 5rem;
    opacity: 1;
    background: var(--primary-white-color);
    transition: 0.2s;
  }

  .navbar-menu a {
    color: var(--black-color);
    font-weight: 600;
  }

  .navbar-menu a.active-menu {
    color: var(--secondary-color);
  }

  .navbar-menu.active-sidebar {
    right: 0;
  }

  #menu-btn {
    display: inline-block;
    transition: 0.2s;
  }

  #menu-btn.active-sidebar {
    display: none;
  }

  #close-btn.active-sidebar {
    display: inline-block;
    transition: 0.2s;
  }

  #close-btn ion-icon.active-sidebar {
    background-color: var(--primary-white-color);
    color: var(--secondary-color);
  }

  .heading {
    font-size: 5.96rem;
  }

  .hero-desc {
    max-width: 60%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 5.96rem;
  }

  .hero-desc {
    max-width: 60%;
  }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width: 640px) {
  html {
    font-size: 60%;
  }

  .brand .logo {
    font-size: 2.6rem;
  }

  .heading {
    font-size: 5.5rem;
  }

  .hero-desc {
    max-width: 70%;
  }
}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width: 414px) {
  html {
    font-size: 57%;
  }

  .navbar-menu {
    width: 100%;
  }

  .brand .logo {
    font-size: 2.8rem;
  }

  .navbar-btns-box button {
    display: none;
  }

  .navbar-menu a:last-child {
    display: inline-block;
  }

  .heading {
    font-size: 5rem;
  }

  .hero-desc {
    max-width: 90%;
    /* font-size: 1.5rem; */
  }
}
